<h2>WebMonitor</h2>
<table class="ranking">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Address
      </th>
      <th>
	Available
      </th>
      <th>
	HTML Valid
      </th>
    </tr>
  </thead>
  <tbody>
    <% @sites.each do |site| %>
    <tr>
      <td>
        <%= site.name %>
      </td>
      <td>
       <a href="<%= site.url %>"><%= site.url %></a>
      </td>
      <td class="availability">
        <%= @sites_availability[site] %>
      </td>
      <td class="validity">
	<%= @sites_validity[site] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
