<h2>Site details</h2>

<h3><%= @site.name %></h3>
<table>
  <tr> <td> Address: </td><td><a href="<%= @site.url %>"><%= @site.url %></a> </td></tr>
  <tr> <td> Availability </td><td class="availability"> <%= validation_image @site_check['availability'].result %> </td></tr>
  <tr> <td> HTML Validity </td><td class="html-validity"> <%= validation_image @site_check['htmlValidity'].result %> </td></tr>
</table>
