<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= javascript_include_tag :all %>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<<body>
<div class="main">
  <div class="header">
    <div class="header_resize">
      <div class="logo">
        <h1><%= link_to raw("Web<span>Monitor</span>"), "/" %></h1>
      </div>
      <div class="menu_nav">
        <ul>
          <li><%= link_to raw("<span>Home</span>"), "/" %></li>
          <% if current_user != nil %>
          <li><%= link_to raw("<span>My sites</span>"), { :controller => "site", :action => "custom_sites"} %>
          <% end %>
          <li>
            <% if signed_in? -%>
		      <%= link_to raw("<span>Sign out</span>"), sign_out_path, :method => :delete %>
		    <% else -%>
		      <%= link_to raw("<span>Sign in</span>"), sign_in_path %>
		    <% end -%>
		  </li>     
          </li>
        </ul>
        <div class="clr"></div>
      </div>
      <div class="clr"></div>
      <div class="header_img"><img src="/images/main_img.png" alt="" width="271" height="234" />
        <h2>WebMonitor</h2>
        <p><strong>Check out what happen with web site</strong><br />
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac magna a turpis ornare aliquam id hendrerit nisl. Pellentesque adipiscing blandit mollis. Curabitur varius est et sem rhoncus et pretium massa molestie. </p>
        <div class="clr"></div>
      </div>
    </div>
  </div>
  <div class="clr"></div>
  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
          <div id="flash">
			<% flash.each do |key, value| -%>
		  		<div id="flash_<%= key %>"><%=h value %></div>
			<% end %>
		  </div>
	      <div class="article">
	      	<%= yield %>
	      </div>
      </div>

      <div class="sidebar">
        <div class="search">
          <form id="form" name="form" method="post" action="#">
            <span>
            <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
            <input name="b" type="image" src="/images/search.gif" class="button" />
            </span>
          </form>
        </div>
        <div class="gadget">
          <h2>Sidebar Menu</h2>
          <div class="clr"></div>
          <ul class="sb_menu">
            <li><%= link_to "Home", "/" %></li>
            <% if current_user != nil %>
            <li><%= link_to "My sites", { :controller => "site", :action => "custom_sites"} %></li>
            <% end %>
          </ul>
        </div>
        <div class="gadget">
          <h2><span>Another gadget</span></h2>
          <div class="clr"></div>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="fbg">
    <div class="fbg_resize">
      <div class="col c1">
        <h2><span>Suff</span></h2>
      </div>
      <div class="col c2">
        <h2><span>Lorem Ipsum</span></h2>
        <p>Lorem ipsum dolor<br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. <a href="#">Morbi tincidunt, orci ac convallis aliquam</a>, lectus turpis varius lorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum odio, ac blandit ante orci ut diam.</p>
      </div>
      <div class="col c3">
        <h2><span>Contact</span></h2>
        <p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui. Nulla pharetra, mauris vitae interdum dignissim, justo nunc suscipit ipsum. <a href="#">mail@example.com</a><br />
          <a href="#">+1 (123) 444-5677</a></p>
      </div>
      <div class="clr"></div>
    </div>
    <div class="footer">
      <p class="lf">&copy; Copyright 2011 <a href="#">WebMonitor</a>.</p>
      <p class="rf">Layout by Cool <a href="http://www.coolwebtemplates.net/">Website Templates</a></p>
      <div class="clr"></div>
    </div>
  </div>
</div>
</body>
</html>
